@import "tailwindcss";

@theme {
  --color-score-0: #f8a9a5;
  --color-score-1: #eebf6f;
  --color-score-2: #f8e783;
  --color-score-3: #e3f69d;
  --color-score-4: #a7f1b9;
  --color-score-5: #7bb6f4;
}

@layer base {
  body {
    @apply m-0 p-0 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  }
}
